@tailwind base;

/**
 * RCF WEBSITE TEMPLATE
 * 
 * TABLE OF CONTENT
 * 1. General: p, a.
 * 2. Lists: unordered, ordered, definition, bulleted, numbered, lined, striped, or any group of elements presented in a list-type format.
 * 3. Headings: h1, h2, h3, h4, h5, h6 and variations of typographic headings.
 * 4. Buttons: buttons are the quintessential UI element. Capture all the unique button patterns found throughout the experience: primary, secondary, big, small, disabled, active, loading, and even buttons that look like text links.
 * 5. Forms: inputs, text areas, select menus, checkboxes, switches, radio buttons, sliders, and other forms of user input.
 * 6. Colors: capture all unique colors presented in the interface. This category can be aided by fantastic style guide bootstrapping tools like CSS Stats and Stylify Me.
 * 7. Icons: icons are a special type of image worthy of their own category. Capture magnifying glasses, social icons, arrows, hamburgers, spinners, favicons, and every other interface icon.
 * 8. Image types: logos, hero images, avatars, thumbnails, backgrounds, and any other type of image pattern that shows up in the UI.
 * 9. Media: video players, audio players and other rich media elements.
 * 10. Blocks: also known as touts, callouts, summaries, ads, or hero units, blocks are collections of typographic headings and/or images and/or summary text (see Nicole Sullivan’s write-up about the media object as an example of a block).
 * 11. Messaging: alerts, success, errors, warnings, validation, loaders, popups, tooltips, and so on. This can be a challenging category to capture as messaging often requires user action to expose.
 * 12. Interactive components: accordions, tabs, carousels, and other functional modules with moving parts.
 * 13. Animation: animation is an elemental aspect of user interfaces, and should therefore be documented. This requires using screen recording software such as QuickTime to capture any UI element that moves, fades, shakes, transitions, or shimmies across the screen.
 * 
 */

/***************************************************
 * 
 * 1. General: p, a.
 * 
 ***************************************************/

body {
	font-size: 16px;
	font-family: "DM Sans", sans-serif;
	line-height: 21px;
	@apply antialiased text-secondary-500;
}
p {
	/* code goes here */
}

a {
	@apply text-primary-700;
}
a:hover {
	text-decoration: underline solid theme("colors.primary.700");
	@apply text-secondary-700;
}
a:focus {
	text-decoration: underline solid theme("colors.primary.700");
}
a:active {
	@apply text-tertiary-700;
}

/***************************************************
 * 
 * 2. Lists: unordered, ordered, definition, bulleted, 
 * numbered, lined, striped, or any group of elements 
 * presented in a list-type format.
 * 
 ***************************************************/
ul {
	/* code goes here */
}

ul li {
	/* code goes here */
}

ul.list-inline {
	/* horizontal list without bullets */
}

/***************************************************
 * 
 * 3. Headings: h1, h2, h3, h4, h5, h6 and variations
 * of typographic headings.
 * 
 ***************************************************/

h1,
h2,
h3,
h4,
h5,
h6,
.main-header,
.sub-header {
	/* shared styles like font family, weight*/
	@apply text-secondary-700 font-semibold;
}

h1 {
	line-height: 3rem;
	@apply text-4xl;
}

h2 {
	@apply leading-10 text-3xl;
}

h3 {
	@apply leading-9 text-2xl;
}

h4 {
	@apply leading-8 text-xl;
}

h5 {
	@apply leading-7 text-lg;
}

h6 {
	@apply leading-6 text-base;
}

.main-header {
	/* Main Header */
	font-weight: bold;
	font-size: 80px;
	line-height: 104px;
}

.sub-header {
	/* Sub Header */
	font-weight: 500;
	font-size: 32px;
	line-height: 42px;
}
@tailwind components;

/***************************************************
 * 
 * 4. Buttons: buttons are the quintessential UI
 * element. Capture all the unique button patterns
 * found throughout the experience: primary, secondary,
 * big, small, disabled, active, loading, and even
 * buttons that look like text links.
 * 
 ***************************************************/

.btn {
	/* shared button styles */
	font-weight: 500;
	@apply px-10 py-2 border-2 border-transparent text-secondary-500 rounded-sm no-underline;
}
.btn:hover,
button:hover {
	@apply shadow-xl no-underline;
}
.btn:focus,
button:focus {
	@apply outline-none;
}
.btn.inactive {
	@apply bg-gray-200;
}

.btn.btn-primary,
button {
	@apply bg-primary-600 text-white border-primary-600;
}
.btn.btn-primary:hover {
}
.btn.btn-primary.inactive,
button.inactive {
	@apply bg-transparent text-primary-600;
}

.btn.btn-secondary {
	@apply bg-secondary-700 text-white border-secondary-700;
}
.btn.btn-secondary:hover {
}
.btn.btn-secondary.inactive {
	@apply bg-secondary-300 text-secondary-700 border-transparent;
}

.btn.btn-tertiary {
	@apply bg-tertiary-700 text-white border-tertiary-700;
}
.btn.btn-tertiary:hover {
}
.btn.btn-tertiary.inactive {
	@apply bg-tertiary-500 border-transparent;
}

/***************************************************
 * 
 * 5. Forms: inputs, text areas, select menus, checkboxes,
 * switches, radio buttons, sliders, and other forms of
 * user input.
 * 
 ***************************************************/

button,
input,
optgroup,
select,
textarea {
	padding: 0;
	line-height: inherit;
	color: inherit;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

[multiple],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	border-radius: 0;
	padding-top: 0.5rem;
	padding-right: 0.75rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	@apply mt-1 block w-full rounded-md border-gray-300 shadow-sm;
}

select {
	@apply w-full;
}

[multiple].valid,
[type="date"].valid,
[type="datetime-local"].valid,
[type="email"].valid,
[type="month"].valid,
[type="number"].valid,
[type="password"].valid,
[type="search"].valid,
[type="tel"].valid,
[type="text"].valid,
[type="time"].valid,
[type="url"].valid,
[type="week"].valid,
textarea.valid,
select.valid {
	@apply border-green-500;
} /* green */

[multiple].invalid,
[type="date"].invalid,
[type="datetime-local"].invalid,
[type="email"].invalid,
[type="month"].invalid,
[type="number"].invalid,
[type="password"].invalid,
[type="search"].invalid,
[type="tel"].invalid,
[type="text"].invalid,
[type="time"].invalid,
[type="url"].invalid,
[type="week"].invalid,
textarea.invalid,
select.invalid,
[multiple].invalid:focus,
[type="date"].invalid:focus,
[type="datetime-local"].invalid:focus,
[type="email"].invalid:focus,
[type="month"].invalid:focus,
[type="number"].invalid:focus,
[type="password"].invalid:focus,
[type="search"].invalid:focus,
[type="tel"].invalid:focus,
[type="text"].invalid:focus,
[type="time"].invalid:focus,
[type="url"].invalid:focus,
[type="week"].invalid:focus,
textarea.invalid:focus,
select.invalid:focus {
	@apply border-red-500;
} /* red */

[multiple]:disabled,
[type="date"]:disabled,
[type="datetime-local"]:disabled,
[type="email"]:disabled,
[type="month"]:disabled,
[type="number"]:disabled,
[type="password"]:disabled,
[type="search"]:disabled,
[type="tel"]:disabled,
[type="text"]:disabled,
[type="time"]:disabled,
[type="url"]:disabled,
[type="week"]:disabled,
textarea:disabled,
select:disabled {
	@apply bg-secondary-200;
} /* disabled */
[multiple]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
textarea:focus,
select:focus {
	@apply border-indigo-300 ring-indigo-200 ring-opacity-50 outline-none;
} /* focus */

/***************************************************
 * 
 * 6. Colors: capture all unique colors presented in
 * the interface. This category can be aided by
 * fantastic style guide bootstrapping tools like CSS
 * Stats and Stylify Me.
 * (TAKEN CARE OF BY TAILWIND)
 * 
 ***************************************************/

/***************************************************
 * 
 * 7. Icons: icons are a special type of image worthy
 * of their own category. Capture magnifying glasses,
 * social icons, arrows, hamburgers, spinners, favicons,
 * and every other interface icon.
 * (THIS WOULD MOST LIKELY BE HANDLES BY FONTAWESOME OR SVGs)
 * 
 ***************************************************/

/***************************************************
 * 
 * 8. Image types: logos, hero images, avatars,
 * thumbnails, backgrounds, and any other type of
 * image pattern that shows up in the UI.
 * 
 ***************************************************/
.avatar {
} /* md */
.avatar {
} /* xs */
.avatar {
} /* sm */
.avatar {
} /* lg */

.thumbnail {
} /* md */
.thumbnail {
} /* xs */
.thumbnail {
} /* sm */
.thumbnail {
} /* lg */

/***************************************************
 * 
 * 9. Media: video players, audio players and other
 * rich media elements.
 * 
 ***************************************************/

/***************************************************
 * 
 * 10. Blocks: also known as touts, callouts, summaries,
 * ads, or hero units, blocks are collections of
 * typographic headings and/or images and/or summary
 * text (see Nicole Sullivan’s write-up about the media
 * object as an example of a block).
 * 
 ***************************************************/

.event-cards {
	/* */
}

/***************************************************
 * 
 * 11. Messaging: alerts, success, errors, warnings,
 * validation, loaders, popups, tooltips, and so on.
 * This can be a challenging category to capture as
 * messaging often requires user action to expose.
 * 
 ***************************************************/

/***************************************************
 * 
 * 12. Interactive components: accordions, tabs, carousels,
 * and other functional modules with moving parts.
 * 
 ***************************************************/

/***************************************************
 * 
 * 13 Animation: animation is an elemental aspect of
 * user interfaces, and should therefore be documented.
 * This requires using screen recording software such 
 * as QuickTime to capture any UI element that moves,
 * fades, shakes, transitions, or shimmies across the screen.
 * 
 ***************************************************/

/***************************************************
 * 
 * 1. Others
 * 
 ***************************************************/

@tailwind utilities;
